html {
    box-sizing: border-box;
  }
  
  .bigjumb {
    text-align: center;
    background-color: black;
    color: white;
  }
  
  body {
    background-color: lightgray
  }
  
  .viewTop {
    margin-right: 5px;
    padding-left: 2px;
  }
  
  .outlook {
    text-align: center
  }
  
  .High {
    background-color: red;
    color: white
  }
  
  .Safe {
    background-color: green;
    color: white
  }
  
  .Medium {
    background-color: yellow;
    color: black;
    
  }
  
  .Moderate {
    background-color: orange;
    color: black;
  }
  
  span {
    padding: 5px;
  }
  
  .fiveDayStyle {
    background-color: lightskyblue;
    color: black;
    margin: 0 auto;
    margin-right: 5px;
    padding: 10px;
  }